.container {
	min-width: 700px;
  margin: auto;
}

.hidden {
  display: none;
}

canvas {
	vertical-align: top;
	border: 1px solid grey;
  padding-left: 0;
  padding-right: 0;
}

.controlWrap {
  max-width: 20%;
  min-width: 210px;
  min-height: 10px;
  position: absolute;
  border: 1px solid gainsboro;
  text-align: left;
  font-size: 10px;
  background-color: rgba( 255, 255, 255, 0.3 );
  /*cursor: pointer;*/
}

.controls {
  padding: 16px;
	border: 1px solid gainsboro;
  margin-bottom: 15px;
}

.checkboxes {
}

.buttonWrap {
  text-align: center;
}

.buttonWrap button {
  display: inline-block;
  margin: auto;
}

.toggle {
  width: 100%;
  position: absolute;
  left: 0; 
  right: 0;
  bottom: 0; 
  margin-left: auto; 
  margin-right: auto;
}

.toggle:hover {
  border-top-color: red;
  border-bottom-color: red;
  cursor: pointer;
}

.arrowDown {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}